In [2]:
#전체 데이터 불러오기
import pandas as pd
    
customers = pd.read_csv("C:/cross-gen-biz-analysis/data/customer_hm.csv")
transactions = pd.read_csv("C:/cross-gen-biz-analysis/data/transactions_hm.csv")
articles = pd.read_csv("C:/cross-gen-biz-analysis/data/articles_hm.csv")

In [3]:
#상위 몇 개만 봐도 되지만 처음이니까 다 보고 싶어서 info()는 적지 않고 확인
transactions

,t_dat,customer_id,article_id,price,sales_channel_id
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1
...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,2
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,2
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,2
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,2
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,2

In [4]:
#null 값 확인
transactions.isnull().sum()

t_dat               0
customer_id         0
article_id          0
price               0
sales_channel_id    0
dtype: int64

In [5]:
#price 열의 기초 통계량 확인
transactions["price"].describe()

count    1.048575e+06
mean     2.777915e-02
std      1.935764e-02
min      2.372880e-04
25%      1.523729e-02
50%      2.540678e-02
75%      3.388136e-02
max      5.067797e-01
Name: price, dtype: float64

In [6]:
#t_dat 열의 기초 통계량 확인
#여기에서 top은 가장 많이 등장한 날짜, freq는 그 날짜의 등장 횟수인데 그 날에 무슨 이벤트가 있지 않았을까 유추 가능.
transactions["t_dat"].describe()

count        1048575
unique           365
top       2019-09-28
freq           12860
Name: t_dat, dtype: object

In [7]:
#t_dat 열의 가장 이른 날짜 확인
transactions['t_dat'].min()

'2019-01-01'

In [8]:
#t_dat 열의 가장 늦은 날짜 확인 이 데이터는 2019년 1월1일 ~ 2019년 12월 31일까지 1년치 데이터 라는 것을 알 수 있음.
transactions['t_dat'].max()

'2019-12-31'

In [9]:
customers.duplicated().sum()  #고객 데이터에 중복된 행이 있는지 확인

np.int64(0)

In [10]:
# 1. 현재 데이터의 나이별 개수를 셉니다.
age_counts = customers['age'].value_counts()

# 2. 데이터에 존재하는 최소 나이부터 최대 나이까지 빈틈없는 범위를 만듭니다.
# (예: 16세부터 99세까지 1살 단위로 생성)
start_age = int(customers['age'].min())
end_age = int(customers['age'].max())
all_ages = range(start_age, end_age + 1)

# 3. 모든 나이를 순회하며 개수를 출력합니다.
print(f"### {start_age}세부터 {end_age}세까지 상세 인원수 ###")
for age in all_ages:
    # 해당 나이의 데이터가 있으면 개수를 가져오고, 없으면 0을 가져옵니다.
    count = age_counts.get(age, 0)
    print(f"{age}세: {int(count):,}명")

### 16세부터 99세까지 상세 인원수 ###
16세: 115명
17세: 7,329명
18세: 18,606명
19세: 29,206명
20세: 42,891명
21세: 52,237명
22세: 40,255명
23세: 42,615명
24세: 43,377명
25세: 42,425명
26세: 41,490명
27세: 37,961명
28세: 34,300명
29세: 31,645명
30세: 30,434명
31세: 28,145명
32세: 21,978명
33세: 19,298명
34세: 16,817명
35세: 15,289명
36세: 13,447명
37세: 12,375명
38세: 11,806명
39세: 11,523명
40세: 12,412명
41세: 13,150명
42세: 12,478명
43세: 13,480명
44세: 14,386명
45세: 15,264명
46세: 16,919명
47세: 18,037명
48세: 19,797명
49세: 21,522명
50세: 22,363명
51세: 23,000명
52세: 21,564명
53세: 19,332명
54세: 18,239명
55세: 17,160명
56세: 15,797명
57세: 14,155명
58세: 12,409명
59세: 10,696명
60세: 9,684명
61세: 8,452명
62세: 7,267명
63세: 6,369명
64세: 5,503명
65세: 4,641명
66세: 4,177명
67세: 3,645명
68세: 3,413명
69세: 2,973명
70세: 2,556명
71세: 2,331명
72세: 1,992명
73세: 1,720명
74세: 1,572명
75세: 1,177명
76세: 794명
77세: 611명
78세: 443명
79세: 384명
80세: 295명
81세: 216명
82세: 171명
83세: 100명
84세: 91명
85세: 72명
86세: 40명
87세: 34명
88세: 38명
89세: 18명
90세: 20명
91세: 7명
92세: 13명
93세: 3명
94세: 3명
95세: 4명
96세: 2명
97세: 4명
98세: 5명
99세: 11명

In [ ]:
#모든 값이 일치한 중복된 행 확인_drop 할지 말지 결정해야할듯
transactions.duplicated().sum()

np.int64(8474)

In [ ]:
#customer_id 열 기준 중복된 행 확인_한 고객이 여러 번 구매한 기록이 있을 수 있으므로 중복 제거하지는 않을 것임.
transactions.duplicated("customer_id").sum()

np.int64(590340)

In [ ]:
#데이터프레임 복사 원본 데이터 보존을 위해서 copy() 매서드 사용
df_tran = transactions.copy()

In [ ]:
#데이터프레임 복사 원본 데이터 보존을 위해서 copy() 매서드 사용
df_cust = customers.copy()

In [ ]:
#데이터프레임 복사 원본 데이터 보존을 위해서 copy() 매서드 사용 
#모든 테이블을 복사해서 사용해볼 것임. 
df_art = articles.copy()

In [ ]:
#customer_id 열의 데이터 타입을 문자열로 변환
df_tran['customer_id']= df_tran['customer_id'].astype(str)

In [ ]:
#customer_id 열의 데이터 타입을 문자열로 변환_조인을 위해 동일한 타입으로 맞춰줌. 은솔님이 조언해주심.
df_cust['customer_id']= df_cust['customer_id'].astype(str)

In [ ]:
#article_id 열의 데이터 타입을 문자열로 변환
df_tran['article_id']= df_tran['article_id'].astype(str)

In [ ]:
#article_id 열의 데이터 타입을 문자열로 변환
df_art['article_id'] = df_art['article_id'].astype(str)

In [ ]:
#null 값 과 Dtype 확인
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  str
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  str
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: float64(1), int64(1), str(3)
memory usage: 40.0 MB

In [ ]:
#t_dat 열의 데이터 타입을 datetime 형식으로 변환
df_tran['t_dat'] = pd.to_datetime(df_tran['t_dat'], format='%Y-%m-%d')

In [ ]:
#datetime 형식 변환 확인
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  datetime64[us]
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  str
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: datetime64[us](1), float64(1), int64(1), str(2)
memory usage: 40.0 MB

In [ ]:
#현재 분석 중인 H&M 데이터셋의 가격(price)은 대부분 0.016932 같은 매우 작은 소수점 형태입니다. 
#여기서 바로 int로 바꿔버리면 거의 모든 가격이 0이 되어버리는 대참사가 발생할 수 있어요!
#만약 숫자를 보기 편하게 만드는 것이 목적이라면, 아래처럼 특정 값을 곱한 뒤에 변환하는 것을 추천합니다.
#price 열의 데이터가 float 형식이므로 어떻게 처리하는게 가독성에 좋은지 고민 하다가 제미나이를 통해 조언을 얻음.

In [ ]:
#100을 곱한 것보다 조금 더 큰 1000을 곱해서 가격을 SEK 단위로 변환_컬럼명을 새로 만듦.
df_tran['price_sek'] = (df_tran['price'] * 1000).astype(int)

In [ ]:
#int 형식 변환 확인
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  datetime64[us]
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  str
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
 5   price_sek         1048575 non-null  int64
dtypes: datetime64[us](1), float64(1), int64(2), str(2)
memory usage: 48.0 MB

In [78]:
df_tran

,t_dat,customer_id,article_id,price,sales_channel_id,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2,16
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2,33
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2,16
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2,33
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1,3
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,2,25
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,2,16
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,2,21
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,2,16
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,2,11

In [ ]:
#소수점 둘째 자리까지 반올림한 가격 열 생성했어야 했는데 잘못해서 다시 하고 컬럼을 새로 만듦.
df_tran['price_sek'] = (df_tran['price'] * 1000).round(2)

In [ ]:
#잘 되었는지 확인
df_tran[['price', 'price_sek']]

            price  price_sek
0        0.016932      16.93
1        0.033881      33.88
2        0.016932      16.93
3        0.033881      33.88
4        0.003220       3.22
...           ...        ...
1048570  0.025407      25.41
1048571  0.016932      16.93
1048572  0.021729      21.73
1048573  0.016932      16.93
1048574  0.011847      11.85

[1048575 rows x 2 columns]

In [83]:
df_tran

,t_dat,customer_id,article_id,price,sales_channel_id,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2,16.93
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2,33.88
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2,16.93
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2,33.88
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1,3.22
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,2,25.41
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,2,16.93
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,2,21.73
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,2,16.93
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,2,11.85

In [ ]:
#sales_channel_id 열의 값을 'Offline'과 'Online'로 매핑
channel_map = {1: 'Offline', 2: 'Online'}
df_tran['sales_channel_id'] = df_tran['sales_channel_id'].map(channel_map)

In [85]:
df_tran

,t_dat,customer_id,article_id,price,sales_channel_id,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,Online,16.93
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,Online,33.88
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,Online,16.93
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,Online,33.88
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,Offline,3.22
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,Online,25.41
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,Online,16.93
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,Online,21.73
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,Online,16.93
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,Online,11.85

In [86]:
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  datetime64[us]
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  str
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  str
 5   price_sek         1048575 non-null  float64
dtypes: datetime64[us](1), float64(2), str(3)
memory usage: 48.0 MB

In [ ]:
#가독성이 좋게 이름 바꿈
df_tran = df_tran.rename(columns={'sales_channel_id': 'channel'})

In [88]:
df_tran

,t_dat,customer_id,article_id,price,channel,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,Online,16.93
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,Online,33.88
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,Online,16.93
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,Online,33.88
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,Offline,3.22
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,Online,25.41
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,Online,16.93
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,Online,21.73
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,Online,16.93
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,Online,11.85

In [89]:
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   t_dat        1048575 non-null  datetime64[us]
 1   customer_id  1048575 non-null  str
 2   article_id   1048575 non-null  str
 3   price        1048575 non-null  float64
 4   channel      1048575 non-null  str
 5   price_sek    1048575 non-null  float64
dtypes: datetime64[us](1), float64(2), str(3)
memory usage: 48.0 MB

In [ ]:
#가독성이 좋게 이름 바꿈
df_tran = df_tran.rename(columns={'t_dat': 'sales_date'})

In [91]:
df_tran

,sales_date,customer_id,article_id,price,channel,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,Online,16.93
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,Online,33.88
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,Online,16.93
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,Online,33.88
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,Offline,3.22
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,Online,25.41
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,Online,16.93
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,Online,21.73
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,Online,16.93
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,Online,11.85

In [93]:
df_tran['price_sek'].describe()

count    1.048575e+06
mean     2.777939e+01
std      1.935799e+01
min      2.400000e-01
25%      1.524000e+01
50%      2.541000e+01
75%      3.388000e+01
max      5.067800e+02
Name: price_sek, dtype: float64

In [ ]:
print("transactions:", transactions.shape)
transactions.duplicated().sum()

transactions: (1048575, 5)

np.int64(8474)