# Cross-Gen Biz Analysis
## EDA 01 - Data Overview
작성자: 이찬희
날짜: 2026-01-24 13:40:01

<각자 최종 제출물>
핵심 지표 2개
그래프 2개
인사이트 3줄
전략 1줄 ?? 

<eda list>
df.shape
df.head()
df.info()
df.columns
df.isnull().sum()
df.describe()

In [ ]:
import pandas as pd

articles = pd.read_csv("../../h&m dataset/articles_hm.csv")
customers = pd.read_csv("../../h&m dataset/customer_hm.csv")
transactions = pd.read_csv("../../h&m dataset/transactions_hm.csv")

transactions.head()

#price 가격이 왜 소수?..

,t_dat,customer_id,article_id,price,sales_channel_id
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1

In [40]:
print("transactions:", transactions.shape)

transactions: (1048575, 5)

In [ ]:
transactions.info()

#행 개수 1,048,575개에 대한 결측치 문제없음... (행 약 104만개;)

#각 컬럼별 의미 정리
#t_dat: 구매일(근데 왜 string..? > 나중에 날짜타입으로 정리하면 좋을듯)
#customer_id: 고객 고유 아이디  (더러운 id)
#article_id: 상품 고유 아이디  
#price: 거래 가격 (수량(quantity) 정보X )
#price를 곧바로 매출액으로 해석해야 하며, “구매 단가 총합” = “매출액” 으로 간주 가능)
#sales_channel_id: 판매 채널 아이디 (1: 오프라인 매장, 2: 온라인 매장)

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  str
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  int64
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: float64(1), int64(2), str(2)
memory usage: 40.0 MB

In [ ]:
transactions.head()
transactions['sales_channel_id'].value_counts()
#1: 오프라인 
#2: 온라인
#온라인이 약 2배 많음

sales_channel_id
2    729192
1    319383
Name: count, dtype: int64

In [ ]:
#통화 단위(SEK, 스웨덴 크로나) !달러나 원화로 혼동x
#표기법 수정하자.. e+? = *10^ e-?= /10^
transactions['price'].describe()

count    1.048575e+06
mean     2.777915e-02
std      1.935764e-02
min      2.372880e-04
25%      1.523729e-02
50%      2.540678e-02
75%      3.388136e-02
max      5.067797e-01
Name: price, dtype: float64

In [44]:
len(transactions[transactions["price"] >= 0.1])
len(transactions[transactions["price"] >= 0.2])
len(transactions[transactions["price"] >= 0.3])
len(transactions[transactions["price"] >= 0.4])
len(transactions[transactions["price"] >= 0.5])

print("price가 0.1 이상:", len(transactions[transactions["price"] >= 0.1]))
print("price가 0.2 이상:", len(transactions[transactions["price"] >= 0.2]))
print("price가 0.3 이상:", len(transactions[transactions["price"] >= 0.3]))
print("price가 0.4 이상:", len(transactions[transactions["price"] >= 0.4]))
print("price가 0.5 이상:", len(transactions[transactions["price"] >= 0.5]))
#전체 약 1,048,575건 중에서:
#0.1 이상: 10,803건 (약 1%)
#0.2 이상: 724건 (약 0.07%)
#0.3 이상: 127건 (약 0.01%)
#0.4 이상: 29건 (약 0.003%)
#0.5 이상: 2건 (약 0.0002%)

price가 0.1 이상: 10803
price가 0.2 이상: 724
price가 0.3 이상: 127
price가 0.4 이상: 29
price가 0.5 이상: 2

In [45]:
high_price_transactions = transactions[transactions["price"] >= 0.4]

high_price_transactions['sales_channel_id'].replace({1: 'Offline', 2: 'Online'}).value_counts()

sales_channel_id
Online    29
Name: count, dtype: int64