In [1]:
import pandas as pd
import numpy as np

customer = pd.read_csv("customer_hm.csv")
print(customer.head())
print(customer.shape)
print(customer.info())

                                         customer_id  FN  Active  \
0  00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...   0       0
1  0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...   0       0
2  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   0       0
3  00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...   0       0
4  00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...   1       1

  club_member_status fashion_news_frequency  age
0             ACTIVE                   NONE   49
1             ACTIVE                   NONE   25
2             ACTIVE                   NONE   24
3             ACTIVE                   NONE   54
4             ACTIVE              Regularly   52
(1048575, 6)
<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1048575 non-null  str
 1   FN                      1048575 non-null  int64
 2   Active                  1048575 non-null  int64
 3   club_member_status      1048575 non-null  str
 4   fashion_news_frequency  1048574 non-null  str
 5   age                     1048575 non-null  int64
dtypes: int64(3), str(3)
memory usage: 48.0 MB
None

In [2]:
import pandas as pd
import numpy as np

transactions = pd.read_csv("transactions_hm.csv")
print(transactions.head())
print(transactions.shape)
print(transactions.info())

        t_dat                                        customer_id  article_id  \
0  2019-11-05  3e2b60b679e62fb49516105b975560082922011dd752ec...   698328010
1  2019-05-22  89647ac2274f54c770aaa4b326e0eea09610c252381f37...   760597002
2  2019-05-10  2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...   488561032
3  2019-08-26  7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...   682771001
4  2019-08-10  3b77905de8b32045f08cedb79200cdfa477e9562429a39...   742400033

      price  sales_channel_id
0  0.016932                 2
1  0.033881                 2
2  0.016932                 2
3  0.033881                 2
4  0.003220                 1
(1048575, 5)
<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  str
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  int64
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: float64(1), int64(2), str(2)
memory usage: 40.0 MB
None

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print("Hello h&m!")

articles = pd.read_csv("articles_hm.csv")
print(articles.head())
print(articles.shape)
print(articles.info())

#침침.... 일단 아이디가 좀 더럽고 (보안문제겠지)
#

3.0.0
Hello h&m!
   article_id  product_code          prod_name  product_type_no  \
0   108775015        108775          Strap top              253
1   108775044        108775          Strap top              253
2   108775051        108775      Strap top (1)              253
3   110065001        110065  OP T-shirt (Idro)              306
4   110065002        110065  OP T-shirt (Idro)              306

  product_type_name  product_group_name  graphical_appearance_no  \
0          Vest top  Garment Upper body                  1010016
1          Vest top  Garment Upper body                  1010016
2          Vest top  Garment Upper body                  1010017
3               Bra           Underwear                  1010016
4               Bra           Underwear                  1010016

  graphical_appearance_name  colour_group_code colour_group_name  ...  \
0                     Solid                  9             Black  ...
1                     Solid                 10             White  ...
2                    Stripe                 11         Off White  ...
3                     Solid                  9             Black  ...
4                     Solid                 10             White  ...

   department_name index_code        index_name index_group_no  \
0     Jersey Basic          A        Ladieswear              1
1     Jersey Basic          A        Ladieswear              1
2     Jersey Basic          A        Ladieswear              1
3   Clean Lingerie          B  Lingeries/Tights              1
4   Clean Lingerie          B  Lingeries/Tights              1

   index_group_name section_no            section_name garment_group_no  \
0        Ladieswear         16  Womens Everyday Basics             1002
1        Ladieswear         16  Womens Everyday Basics             1002
2        Ladieswear         16  Womens Everyday Basics             1002
3        Ladieswear         61         Womens Lingerie             1017
4        Ladieswear         61         Womens Lingerie             1017

   garment_group_name                                        detail_desc
0        Jersey Basic            Jersey top with narrow shoulder straps.
1        Jersey Basic            Jersey top with narrow shoulder straps.
2        Jersey Basic            Jersey top with narrow shoulder straps.
3   Under-, Nightwear  Microfibre T-shirt bra with underwired, moulde...
4   Under-, Nightwear  Microfibre T-shirt bra with underwired, moulde...

[5 rows x 25 columns]
(105542, 25)
<class 'pandas.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  str
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  str
 5   product_group_name            105542 non-null  str
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  str
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  str
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  str
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  str
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  str
 16  index_code                    105542 non-null  str
 17  index_name                    105542 non-null  str
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  str
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  str
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  str
 24  detail_desc                   105126 non-null  str
dtypes: int64(11), str(14)
memory usage: 20.1 MB
None

In [4]:
print(articles.shape)

(105542, 25)

In [5]:
articles.info()

<class 'pandas.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  str
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  str
 5   product_group_name            105542 non-null  str
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  str
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  str
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  str
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  str
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  str
 16  index_code                    105542 non-null  str
 17  index_name                    105542 non-null  str
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  str
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  str
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  str
 24  detail_desc                   105126 non-null  str
dtypes: int64(11), str(14)
memory usage: 20.1 MB

In [6]:
print(articles.isnull().sum())

#detail_desc NULL 값 존재

article_id                        0
product_code                      0
prod_name                         0
product_type_no                   0
product_type_name                 0
product_group_name                0
graphical_appearance_no           0
graphical_appearance_name         0
colour_group_code                 0
colour_group_name                 0
perceived_colour_value_id         0
perceived_colour_value_name       0
perceived_colour_master_id        0
perceived_colour_master_name      0
department_no                     0
department_name                   0
index_code                        0
index_name                        0
index_group_no                    0
index_group_name                  0
section_no                        0
section_name                      0
garment_group_no                  0
garment_group_name                0
detail_desc                     416
dtype: int64

In [7]:
#age를 그룹화하는 게 보기 좋음 => mapping 
#맞겠지? 연령대니까 이게 맞을거야 10대 20대
#아 이상치 120이나 0살 이상치 확인

#print(customers['age'].describe())

#고객데이터나 거래 데이터는 이상치나 결측치 확인을 잘 해야할 것 같은데
#아티클에서는 일단 보이는 거 detail_decs밖에 없음
### -> 전처리는 detail_desc의 null값 제어랑 상품 그룹화(매핑) 정도 (근데 이거 필요한가? 점검 필요)

In [ ]:
articles.info()