In [18]:
import pandas as pd
import numpy as np

# [Step 1] ì›ë³¸ ë°ì´í„° ë¡œë“œ ë° ë³µì‚¬
customer = pd.read_csv("customer_hm.csv")
transactions = pd.read_csv("transactions_hm.csv")
articles = pd.read_csv("articles_hm.csv")

# ê²½ë¡œì— ë§ê²Œ ìœ„ ì•„ë˜ ì¤‘ ì„ íƒ ì£¼ì„ì²˜ë¦¬
# customer = pd.read_csv('../../data/customer_hm.csv')
# transactions = pd.read_csv('../../data/transactions_hm.csv')
# articles = pd.read_csv('../../data/articles_hm.csv')

#copy
df_cust = customer.copy()
df_tran = transactions.copy()
df_art = articles.copy()

# [Customer] ë°ì´í„° ì „ì²˜ë¦¬

#1. fashion_news_frequencyê°€ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë§Œ ì¶”ì¶œ (ê²°ì¸¡ì¹˜ Regularlyë¡œ ëŒ€ì²´)
missing_data = df_cust[df_cust['fashion_news_frequency'].isnull()]

#1-2. ê²°ì¸¡ì¹˜ 'Regularly'ìœ¼ë¡œ ì±„ìš°ê¸°
df_cust['fashion_news_frequency'] = df_cust['fashion_news_frequency'].fillna('Regularly')

#2. ë¬¸ìí˜• ì •ìˆ˜í˜•ìœ¼ë¡œ ë§¤í•‘ (ì‚¬ì „ ì •ì˜)
status_map = {'ACTIVE': 2, 'PRE-CREATE': 1, 'LEFT CLUB': 0}
frequency_map = {'Regularly': 2, 'Monthly': 1, 'NONE': 0}

#2-2.  ë§¤í•‘ ì ìš©
df_cust['club_member_status'] = df_cust['club_member_status'].map(status_map)
df_cust['fashion_news_frequency'] = df_cust['fashion_news_frequency'].map(frequency_map)


#3. ì—°ë ¹ëŒ€ ê·¸ë£¹í™” (age_segment) : ë‚˜ì´ë¥¼ ë‚˜ì´ëŒ€ë³„ë¡œ ë‚˜ëˆ  íŒŒìƒë³€ìˆ˜ ìƒì„±
def cate_age(age):
    if age < 20: return '10ëŒ€'
    elif age < 30: return '20ëŒ€'
    elif age < 40: return '30ëŒ€'
    elif age < 50: return '40ëŒ€'
    elif age < 60: return'50ëŒ€'
    else: return '60ëŒ€ ì´ìƒ'

df_cust['age_segment'] = df_cust['age'].apply(cate_age)


# [Transactions] ë°ì´í„° ì „ì²˜ë¦¬

#1. joinì„ ìœ„í•´ ë™ì¼í•œ íƒ€ì…ìœ¼ë¡œ ë³€í™˜
df_tran['customer_id']= df_tran['customer_id'].astype(str)
df_cust['customer_id']= df_cust['customer_id'].astype(str)

df_tran['article_id']= df_tran['article_id'].astype(str).str.zfill(10)
df_art['article_id'] = df_art['article_id'].astype(str).str.zfill(10)

#2. ë°ì´í„° í¬ê¸° ë° ì¤‘ë³µ ì œê±°
df_tran.drop_duplicates(inplace=True)

#3. ë‚ ì§œ íƒ€ì… ë³€í™˜ ë° ì›” ì»¬ëŸ¼ ìƒì„±
df_tran['t_dat'] = pd.to_datetime(df_tran['t_dat'], format='%Y-%m-%d')
df_tran['year_month'] = df_tran['t_dat'].dt.to_period('M')

#4. íŒë§¤ ì±„ë„ í•œê¸€ ì»¬ëŸ¼ ìƒì„± ë° ê°’ ë³€í™˜
df_tran["channel"] = df_tran["sales_channel_id"].map({1: "ì˜¤í”„ë¼ì¸", 2: "ì˜¨ë¼ì¸"})

df_tran["channel"].value_counts() 
numbs = df_tran["channel"].value_counts()
print("ì˜¨ë¼ì¸:", f"{numbs['ì˜¨ë¼ì¸']:,}")
print("ì˜¤í”„ë¼ì¸:", f"{numbs['ì˜¤í”„ë¼ì¸']:,}")
print("ì „ì²´ ê±°ë˜ ê±´ìˆ˜:", f"{df_tran.shape[0]:,}")

#ê°€ê²© ë°ì´í„° ë¶„í¬ í™•ì¸
df_tran['price'].describe() 
print("priceê°€ 0.1 ì´ìƒ:", len(df_tran[df_tran["price"] >= 0.1]))
print("priceê°€ 0.2 ì´ìƒ:", len(df_tran[df_tran["price"] >= 0.2]))
print("priceê°€ 0.3 ì´ìƒ:", len(df_tran[df_tran["price"] >= 0.3]))
print("priceê°€ 0.4 ì´ìƒ:", len(df_tran[df_tran["price"] >= 0.4]))
print("priceê°€ 0.5 ì´ìƒ:", len(df_tran[df_tran["price"] >= 0.5]))

#ê³ ê°€ ê±°ë˜ ë¶„ë¦¬ ë° ì±„ë„ í™•ì¸
high_price_transactions = df_tran[df_tran["price"] >= 0.4]
high_price_transactions['sales_channel_id'].replace({1: 'Offline', 2: 'Online'}).value_counts() 

#ì›”ë³„ ê±°ë˜ ê±´ìˆ˜ & ë§¤ì¶œì•¡ ê³„ì‚°
monthly_sales = df_tran.groupby('year_month').size()    #í–‰=ê±°ë˜ëŸ‰
monthly_price = df_tran.groupby('year_month')['price'].sum()    #ë§¤ì¶œì•¡ë½‘ê¸°

print(monthly_price)

#ìµœê³  ë§¤ì¶œ ì›” 
best_month = monthly_price.idxmax()
best_value = monthly_price.max()

print("ê°€ì¥ ë§¤ì¶œì´ ë†’ì€ ë‹¬:", best_month)
print("ê·¸ ë‹¬ì˜ ë§¤ì¶œ:", best_value) 


# [Article] ë°ì´í„° ì „ì²˜ë¦¬: ìƒí’ˆ ì „ëµ íŒŒìƒë³€ìˆ˜ ìƒì„±

#1. ID í˜•ì‹ í†µì¼
df_art['article_id'] = df_art['article_id'].astype(str).str.zfill(10)

#2. ê²°ì¸¡ì¹˜(NULL) ì œì–´ (detail_descì˜ NULLê°’ì„ No Descriptionë¡œ)
df_art['detail_desc'] = df_art['detail_desc'].fillna('No Description')

#3. ë¶ˆí•„ìš” ì»¬ëŸ¼ ì œê±° (ë©”ëª¨ë¦¬ ì¤„ì´ê¸°) : Name(ì´ë¦„)ì´ ì¡´ì¬í•˜ì—¬ ì¤‘ë³µ ì •ë³´ì¸ Code(ì½”ë“œì„± ìˆ«ì) ì»¬ëŸ¼ ë¶ˆí•„ìš”
cols_to_drop = [
    'product_type_no', 
    'graphical_appearance_no', 
    'colour_group_code', 
    'perceived_colour_value_id',
    'perceived_colour_master_id',
    'department_no',
    'index_code',
    'index_group_no',
    'section_no',
    'garment_group_no'
]
df_art_cleaned = df_art.drop(columns=cols_to_drop) 

#4. ë§¤í•‘ ë° íŒŒìƒë³€ìˆ˜ ì„¤ì •
#4-1. ì‹œì¦Œ ë³„ ë§¤í•‘ (product_season) / ì‹œì¦Œì„± êµ¬ë¶„ì„ ìœ„í•œ í‚¤ì›Œë“œ ì •ì˜
def get_season(row):
    # section_nameê³¼ prod_nameì„ í•©ì³ì„œ íŒë‹¨
    text = (str(row['section_name']) + " " + str(row['prod_name'])).lower()
    group = str(row['product_group_name']).lower()
    
    # 1. SS
    ss_keywords = [
        'swimwear', 'sport', 'shorts', 'sandals', 'sleeveless', 
        'tank', 'mini', 'beach', 'summer', 'sun', 'flip flop', 
        'skirt', 'dress'
    ]

    # 2. FW 
    fw_keywords = [
        'outerwear', 'knitted', 
        'jacket', 'coat', 'hoodie', 'sweatshirt', 'scarf', 'gloves', 
        'boots', 'heavy', 'fur', 'wool', 'cardigan', 'winter'
    ]
    
    if any(kw in text for kw in ss_keywords) or group in ['swimwear']:
        return 'SS'
    # FWëŠ” ì˜¤ì§ ë‘êº¼ìš´ ì˜· í‚¤ì›Œë“œê°€ ìˆì„ ë•Œë§Œ! (items of clothing ì¡°ê±´ ì œê±°)
    elif any(kw in text for kw in fw_keywords):
        return 'FW'
    else:
        return 'All-Season'

#4-2. íŒŒìƒë³€ìˆ˜ ìƒì„± ë° axis=1ë¡œ ì™¼ìª½ì—ì„œ ì˜¤ë¥¸ìª½ìœ¼ë¡œ(í–‰ ë°©í–¥) ì½ë„ë¡ ì¡°ì •
df_art_cleaned['product_season'] = df_art_cleaned.apply(get_season, axis=1)
#4-3. ë©”ì¸ ì¹´í…Œê³ ë¦¬ ì •ì˜ (ì›ë³¸ ë³´ì¡´)
df_art_cleaned['category_main'] = df_art_cleaned['index_group_name'] 


#5. ì €ê´€ì—¬/ê³ ê´€ì—¬ ì œí’ˆ ë¶„ë¥˜ (product_strategy)
def get_involvement_strategy(row):
    garment = str(row['garment_group_name']).lower()
    section = str(row['section_name']).lower()
    # 1. ì €ê´€ì—¬ (ë² ì´ì§)
    if any(kw in garment for kw in ['basic', 'underwear', 'socks', 'jersey']) or \
       'basic' in section:
        return 'Low_Involvement_Basic'
    # 2. ê³ ê´€ì—¬ (ì „ëµí…œ/íŠ¸ë Œë“œí…œ)
    elif any(kw in garment for kw in ['knitwear', 'outerwear', 'dresses']) or \
         any(kw in section for kw in ['trend', 'special']):
        return 'High_Involvement_Strategic'
    else:
        return 'General_Fashion'
    
df_art_cleaned['product_strategy'] = df_art_cleaned.apply(get_involvement_strategy, axis=1)

#6. ì‹ ìƒí’ˆ/íŠ¸ë Œë“œ í‚¤ì›Œë“œ ì¶”ì¶œ (is_new)
def check_newness(row):
    text = (str(row['prod_name']) + " " + str(row['detail_desc'])).lower()
    new_keywords = ['new', 'collection', 'latest', 'trend', 'exclusive']
    
    if any(kw in text for kw in new_keywords):
        return 'New_Arrival'
    return 'Regular_Carryover'

df_art_cleaned['is_new'] = df_art_cleaned.apply(check_newness, axis=1)

#7. ìƒ‰ìƒ ê·¸ë£¹í™” (color_tone)
def get_color_tone(color):
    color = str(color).lower()
    dark_colors = ['black', 'dark blue', 'dark grey', 'dark red', 'dark pink', 'dark purple', 'dark green', 'dark orange', 'dark beige', 'dark turquoise', 'dark yellow', 'grey', 'bronze/copper']
    light_colors = ['white', 'off white', 'light beige', 'light blue', 'light grey', 'light orange', 'light pink', 'light green', 'light red', 'light yellow', 'light purple', 'transparent', 'light turquoise']
    
    if any(dc in color for dc in dark_colors):
        return 'Dark_Tone'
    elif any(lc in color for lc in light_colors):
        return 'Light_Tone'
    else:
        return 'Neutral_Tone'

df_art_cleaned['color_tone'] = df_art_cleaned['colour_group_name'].apply(get_color_tone)

ì˜¨ë¼ì¸: 721,488
ì˜¤í”„ë¼ì¸: 318,613
ì „ì²´ ê±°ë˜ ê±´ìˆ˜: 1,040,101
priceê°€ 0.1 ì´ìƒ: 10704
priceê°€ 0.2 ì´ìƒ: 719
priceê°€ 0.3 ì´ìƒ: 126
priceê°€ 0.4 ì´ìƒ: 29
priceê°€ 0.5 ì´ìƒ: 2
year_month
2019-01    2129.926131
2019-02    1989.217641
2019-03    2374.905504
2019-04    2703.443538
2019-05    2748.199469
2019-06    3088.776976
2019-07    2552.035334
2019-08    1943.422489
2019-09    2559.226862
2019-10    2358.486793
2019-11    2463.769270
2019-12    1985.492149
Freq: M, Name: price, dtype: float64
ê°€ì¥ ë§¤ì¶œì´ ë†’ì€ ë‹¬: 2019-06
ê·¸ ë‹¬ì˜ ë§¤ì¶œ: 3088.776976142

In [19]:
##ì²´í¬ ìš©ë„
#df_cust
display(df_cust[['customer_id', 'age', 'age_segment', 'club_member_status', 'fashion_news_frequency']].head())

#df_tran
display(df_tran[['customer_id', 'article_id', 't_dat', 'year_month', 'channel', 'price']].head())

#df_art_cleaned
display(df_art_cleaned[['article_id', 'prod_name', 'product_strategy', 'is_new', 'product_season', 'color_tone']].head())

,customer_id,age,age_segment,club_member_status,fashion_news_frequency
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,49,40ëŒ€,2,0
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,25,20ëŒ€,2,0
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,24,20ëŒ€,2,0
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,54,50ëŒ€,2,0
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,52,50ëŒ€,2,2

,customer_id,article_id,t_dat,year_month,channel,price
0,3e2b60b679e62fb49516105b975560082922011dd752ec...,0698328010,2019-11-05,2019-11,ì˜¨ë¼ì¸,0.016932
1,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,0760597002,2019-05-22,2019-05,ì˜¨ë¼ì¸,0.033881
2,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,0488561032,2019-05-10,2019-05,ì˜¨ë¼ì¸,0.016932
3,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,0682771001,2019-08-26,2019-08,ì˜¨ë¼ì¸,0.033881
4,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,0742400033,2019-08-10,2019-08,ì˜¤í”„ë¼ì¸,0.003220

,article_id,prod_name,product_strategy,is_new,product_season,color_tone
0,0108775015,Strap top,Low_Involvement_Basic,Regular_Carryover,All-Season,Dark_Tone
1,0108775044,Strap top,Low_Involvement_Basic,Regular_Carryover,All-Season,Light_Tone
2,0108775051,Strap top (1),Low_Involvement_Basic,Regular_Carryover,All-Season,Light_Tone
3,0110065001,OP T-shirt (Idro),General_Fashion,Regular_Carryover,All-Season,Dark_Tone
4,0110065002,OP T-shirt (Idro),General_Fashion,Regular_Carryover,All-Season,Light_Tone

### [Data Dictionary] 

#### 1. íŒŒìƒë³€ìˆ˜
- **product_strategy** : ìƒí’ˆ ê´€ì—¬ë„ ì „ëµ (Basic / Strategic / General)
- **age_segment** : ê³ ê° ì—°ë ¹ëŒ€ ì„¸ê·¸ë¨¼íŠ¸ (10ëŒ€ ~ 60ëŒ€+)
- **is_new** : ì‹ ìƒí’ˆ ë°˜ì‘ ì§€í‘œ (New_Arrival / Regular_Carryover)
- **product_season** : ìƒí’ˆ ì‹œì¦Œ ì†ì„± (FW / SS / All-Season)
- **color_tone** : ë””ìì¸ í†¤ì•¤ë§¤ë„ˆ (Dark / Light / Neutral)

#### 2. ê¸°ë³¸ ì •ë³´ (Raw Data)
- **channel** : ì˜¨/ì˜¤í”„ë¼ì¸ êµ¬ë§¤ ì±„ë„ (ë§¤ì¶œ ë°œìƒ ì§€ì  í™•ì¸)
- **club_member_status** : ë©¤ë²„ì‹­ ë“±ê¸‰ (ë¡œì—´í‹° ê³ ê°ì˜ êµ¬ë§¤ ìœ ì§€ë ¥ í™•ì¸)
- **fashion_news_freq** : ë§ˆì¼€íŒ… ë‰´ìŠ¤ë ˆí„° êµ¬ë… ë¹ˆë„ (CRM í™œë™ ì˜í–¥ë ¥ ì¸¡ì •)
- **price** : ìƒí’ˆ íŒë§¤ ë‹¨ê°€ (ê°ë‹¨ê°€ ë° ê°€ê²©ëŒ€ë³„ ìˆ˜ìš” ë¶„ì„)
- **year_month** : ì‹œê°„ ì§€í‘œ (6ì›” ì •ì  ëŒ€ë¹„ 8ì›” í•˜ë½ì„¸ì˜ ê¸°ì¤€ì¶•)
- **category_main** : ì—¬ì„±/ë‚¨ì„±/ì•„ë™ ë“± ë©”ì¸ ì¹´í…Œê³ ë¦¬ (í’ˆëª©ë³„ ì„±ê³¼ ì¸¡ì •)

In [20]:
# [JOIN] df_tran ê¸°ì¤€ Left Join
# ê³ ê°ì˜ ë‚˜ì´ëŒ€(age_segment), ë‰´ìŠ¤ êµ¬ë… ë¹ˆë„ ë“±ì„ ê±°ë˜ ë‚´ì—­ì— ì—°ê²°
df_merged = pd.merge(
    df_tran, 
    df_cust, 
    on='customer_id', 
    how='left'
)

print("ê²°í•© í›„ ë°ì´í„° í¬ê¸°:", df_merged.shape)
print(df_merged.head())

ê²°í•© í›„ ë°ì´í„° í¬ê¸°: (1040101, 13)
       t_dat                                        customer_id  article_id  \
0 2019-11-05  3e2b60b679e62fb49516105b975560082922011dd752ec...  0698328010
1 2019-05-22  89647ac2274f54c770aaa4b326e0eea09610c252381f37...  0760597002
2 2019-05-10  2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...  0488561032
3 2019-08-26  7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...  0682771001
4 2019-08-10  3b77905de8b32045f08cedb79200cdfa477e9562429a39...  0742400033

      price  sales_channel_id year_month channel   FN  Active  \
0  0.016932                 2    2019-11     ì˜¨ë¼ì¸  1.0     1.0
1  0.033881                 2    2019-05     ì˜¨ë¼ì¸  0.0     0.0
2  0.016932                 2    2019-05     ì˜¨ë¼ì¸  1.0     1.0
3  0.033881                 2    2019-08     ì˜¨ë¼ì¸  0.0     0.0
4  0.003220                 1    2019-08    ì˜¤í”„ë¼ì¸  0.0     0.0

   club_member_status  fashion_news_frequency   age age_segment
0                 2.0                     2.0  51.0         50ëŒ€
1                 2.0                     0.0  28.0         20ëŒ€
2                 2.0                     2.0  37.0         30ëŒ€
3                 2.0                     0.0  19.0         10ëŒ€
4                 2.0                     0.0  35.0         30ëŒ€

In [21]:
# [JOIN] df_final
df_final = pd.merge(
    df_merged, 
    df_art_cleaned, 
    on='article_id', 
    how='left'
)

In [22]:
import os
print(os.getcwd())
print(os.listdir('data'))

d:\sonamu\project_01\SOL_analysis
['cleaned_data.csv']

In [23]:
#df_final.to_csv('data/cleaned_data.csv', index=False)
df_final.to_csv(r'D:\sonamu\project_01\SOL_analysis\data\cleaned_data.csv', index=False)

#ë¶ˆëŸ¬ì˜¬ ë•Œ :
# df = pd.read_csv('data/cleaned_data.csv')

In [24]:
# âš“4-1. ì‹œì¦Œ ë³„ ë§¤í•‘ (product_season) / ì‹œì¦Œì„± êµ¬ë¶„ì„ ìœ„í•œ í‚¤ì›Œë“œ ì •ì˜
def get_season(row):
    """
    ìƒí’ˆì˜ ì´ë¦„ê³¼ ì†Œì† ì„¹ì…˜ì„ í›‘ì–´ 'ì—¬ë¦„(SS)', 'ê²¨ìš¸(FW)', 'ì‚¬ê³„ì ˆ(All-Season)' ì´ë¦„í‘œë¥¼ ë¶™ì—¬ì£¼ëŠ” í•¨ìˆ˜ì…ë‹ˆë‹¤.
    """
    # ğŸ—£ï¸ í•­í•´ì‚¬ì˜ í•œë§ˆë””: ì„¹ì…˜ëª…ê³¼ ì œí’ˆëª…ì„ í•©ì³ í…ìŠ¤íŠ¸ë¼ëŠ” ê±°ëŒ€í•œ ë°”ë‹¤ë¥¼ ë§Œë“¤ê³ , 
    # ëŒ€ì†Œë¬¸ì êµ¬ë¶„ì„ ì—†ì• (lower) 'Swim'ì´ë“  'swim'ì´ë“  ë‹¤ ì¡ì•„ë‚´ë„ë¡ ì„¤ê³„í–ˆìŠµë‹ˆë‹¤. [cite: 2026-01-22]
    text = (str(row['section_name']) + " " + str(row['prod_name'])).lower()
    group = str(row['product_group_name']).lower()
    
    # ğŸŒŠ 1. SS(Spring/Summer): ì—¬ë¦„ì„ ìƒì§•í•˜ëŠ” ê°€ë²¼ìš´ ë³´ë¬¼ í‚¤ì›Œë“œ
    ss_keywords = [
        'swimwear', 'sport', 'shorts', 'sandals', 'sleeveless', 
        'tank', 'mini', 'beach', 'summer', 'sun', 'flip flop', 
        'skirt', 'dress'
    ]

    # â„ï¸ 2. FW(Fall/Winter): ê²¨ìš¸ì„ ê²¬ë””ëŠ” ë‘ê»ê³  ë¬µì§í•œ ë³´ë¬¼ í‚¤ì›Œë“œ
    fw_keywords = [
        'outerwear', 'knitted', 
        'jacket', 'coat', 'hoodie', 'sweatshirt', 'scarf', 'gloves', 
        'boots', 'heavy', 'fur', 'wool', 'cardigan', 'winter'
    ]
    
    # ğŸ¯ 1ìˆœìœ„ íŒë³„: ì—¬ë¦„ í‚¤ì›Œë“œê°€ í•˜ë‚˜ë¼ë„ ìˆê±°ë‚˜, ì•„ì˜ˆ ìˆ˜ì˜ë³µ ê·¸ë£¹ì¸ ê²½ìš° 'SS' í•­êµ¬ë¡œ ì˜ˆì¸í•©ë‹ˆë‹¤.
    if any(kw in text for kw in ss_keywords) or group in ['swimwear']:
        return 'SS'
    
    # ğŸ¯ 2ìˆœìœ„ íŒë³„: ì—¬ë¦„ í‚¤ì›Œë“œëŠ” ì—†ìœ¼ë©´ì„œ ë‘êº¼ìš´ ì˜· í‚¤ì›Œë“œê°€ ìˆë‹¤ë©´ 'FW' í•­êµ¬ë¡œ ë³´ëƒ…ë‹ˆë‹¤.
    elif any(kw in text for kw in fw_keywords):
        return 'FW'
    
    # ğŸ¯ ìµœì¢… íŒë³„: ìœ„ì˜ ê·¸ë¬¼ì— ê±¸ë¦¬ì§€ ì•Šì€ ë©´í‹°, ì–‘ë§ ë“± ë² ì´ì§ ì•„ì´í…œì€ 'All-Season'ìœ¼ë¡œ ë¶„ë¥˜í•©ë‹ˆë‹¤.
    else:
        return 'All-Season'

# âš“4-2. íŒŒìƒë³€ìˆ˜ ìƒì„±: í•¨ìˆ˜ë¥¼ ëª¨ë“  í–‰(axis=1)ì— ì ìš©í•˜ì—¬ 'product_season' ì»¬ëŸ¼ì„ ìƒì„±í•©ë‹ˆë‹¤.
# ğŸ—£ï¸ í•­í•´ì‚¬ì˜ í•œë§ˆë””: apply(axis=1)ì€ í•­í•´ì‚¬ê°€ ê° ë°©(Row)ì„ ëŒë©° ìƒí’ˆì„ í•˜ë‚˜ì”© ê²€ì‚¬í•˜ëŠ” ê²ƒê³¼ ê°™ìŠµë‹ˆë‹¤. [cite: 2026-01-21]
df_art_cleaned['product_season'] = df_art_cleaned.apply(get_season, axis=1)

# âš“4-3. ë©”ì¸ ì¹´í…Œê³ ë¦¬ ì •ì˜ (ì›ë³¸ ë³´ì¡´)
# 'index_group_name'(ì—¬ì„±ë³µ, ë‚¨ì„±ë³µ ë“±)ì„ 'category_main'ì´ë¼ëŠ” ì§ê´€ì ì¸ ì´ë¦„ìœ¼ë¡œ ë³µì‚¬í•©ë‹ˆë‹¤.
df_art_cleaned['category_main'] = df_art_cleaned['index_group_name']