In [36]:
import pandas as pd
    
customers = pd.read_csv("C:/cross-gen-biz-analysis/data/customer_hm.csv")
transactions = pd.read_csv("C:/cross-gen-biz-analysis/data/transactions_hm.csv")
articles = pd.read_csv("C:/cross-gen-biz-analysis/data/articles_hm.csv")

In [37]:
transactions

,t_dat,customer_id,article_id,price,sales_channel_id
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1
...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,2
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,2
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,2
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,2
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,2

In [38]:
transactions.isnull().sum()

t_dat               0
customer_id         0
article_id          0
price               0
sales_channel_id    0
dtype: int64

In [39]:
transactions["price"].describe()

count    1.048575e+06
mean     2.777915e-02
std      1.935764e-02
min      2.372880e-04
25%      1.523729e-02
50%      2.540678e-02
75%      3.388136e-02
max      5.067797e-01
Name: price, dtype: float64

In [40]:
transactions["t_dat"].describe()

count        1048575
unique           365
top       2019-09-28
freq           12860
Name: t_dat, dtype: object

In [41]:
transactions['t_dat'].min()

'2019-01-01'

In [42]:
transactions['t_dat'].max()

'2019-12-31'

In [43]:
transactions.duplicated().sum()

np.int64(8474)

In [44]:
transactions.duplicated("customer_id").sum()

np.int64(590340)

In [65]:
df_tran = transactions.copy()

In [66]:
df_cust = customers.copy()

In [67]:
df_art = articles.copy()

In [68]:
df_tran['customer_id']= df_tran['customer_id'].astype(str)

In [69]:
df_cust['customer_id']= df_cust['customer_id'].astype(str)

In [70]:
df_tran['article_id']= df_tran['article_id'].astype(str)

In [71]:
df_art['article_id'] = df_art['article_id'].astype(str)

In [73]:
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  str
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  str
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: float64(1), int64(1), str(3)
memory usage: 40.0 MB

In [74]:
df_tran['t_dat'] = pd.to_datetime(df_tran['t_dat'], format='%Y-%m-%d')

In [75]:
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  datetime64[us]
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  str
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: datetime64[us](1), float64(1), int64(1), str(2)
memory usage: 40.0 MB

In [ ]:
#현재 분석 중인 H&M 데이터셋의 가격(price)은 대부분 0.016932 같은 매우 작은 소수점 형태입니다. 
#여기서 바로 int로 바꿔버리면 거의 모든 가격이 0이 되어버리는 대참사가 발생할 수 있어요!
#만약 숫자를 보기 편하게 만드는 것이 목적이라면, 아래처럼 특정 값을 곱한 뒤에 변환하는 것을 추천합니다.

In [76]:
df_tran['price_sek'] = (df_tran['price'] * 1000).astype(int)

In [77]:
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  datetime64[us]
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  str
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
 5   price_sek         1048575 non-null  int64
dtypes: datetime64[us](1), float64(1), int64(2), str(2)
memory usage: 48.0 MB

In [78]:
df_tran

,t_dat,customer_id,article_id,price,sales_channel_id,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2,16
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2,33
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2,16
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2,33
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1,3
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,2,25
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,2,16
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,2,21
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,2,16
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,2,11

In [79]:
df_tran['price_sek'] = (df_tran['price'] * 1000).round(2)

In [82]:
df_tran[['price', 'price_sek']]

            price  price_sek
0        0.016932      16.93
1        0.033881      33.88
2        0.016932      16.93
3        0.033881      33.88
4        0.003220       3.22
...           ...        ...
1048570  0.025407      25.41
1048571  0.016932      16.93
1048572  0.021729      21.73
1048573  0.016932      16.93
1048574  0.011847      11.85

[1048575 rows x 2 columns]

In [83]:
df_tran

,t_dat,customer_id,article_id,price,sales_channel_id,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2,16.93
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2,33.88
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2,16.93
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2,33.88
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1,3.22
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,2,25.41
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,2,16.93
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,2,21.73
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,2,16.93
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,2,11.85

In [84]:
channel_map = {1: 'Offline', 2: 'Online'}
df_tran['sales_channel_id'] = df_tran['sales_channel_id'].map(channel_map)

In [85]:
df_tran

,t_dat,customer_id,article_id,price,sales_channel_id,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,Online,16.93
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,Online,33.88
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,Online,16.93
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,Online,33.88
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,Offline,3.22
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,Online,25.41
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,Online,16.93
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,Online,21.73
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,Online,16.93
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,Online,11.85

In [86]:
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  datetime64[us]
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  str
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  str
 5   price_sek         1048575 non-null  float64
dtypes: datetime64[us](1), float64(2), str(3)
memory usage: 48.0 MB

In [87]:
df_tran = df_tran.rename(columns={'sales_channel_id': 'channel'})

In [88]:
df_tran

,t_dat,customer_id,article_id,price,channel,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,Online,16.93
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,Online,33.88
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,Online,16.93
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,Online,33.88
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,Offline,3.22
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,Online,25.41
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,Online,16.93
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,Online,21.73
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,Online,16.93
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,Online,11.85

In [89]:
df_tran.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   t_dat        1048575 non-null  datetime64[us]
 1   customer_id  1048575 non-null  str
 2   article_id   1048575 non-null  str
 3   price        1048575 non-null  float64
 4   channel      1048575 non-null  str
 5   price_sek    1048575 non-null  float64
dtypes: datetime64[us](1), float64(2), str(3)
memory usage: 48.0 MB

In [90]:
df_tran = df_tran.rename(columns={'t_dat': 'sales_date'})

In [91]:
df_tran

,sales_date,customer_id,article_id,price,channel,price_sek
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,Online,16.93
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,Online,33.88
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,Online,16.93
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,Online,33.88
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,Offline,3.22
...,...,...,...,...,...,...
1048570,2019-03-25,8e900818a1da0e73300a012794615993fbefb43f851430...,766346001,0.025407,Online,25.41
1048571,2019-10-18,13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...,811905001,0.016932,Online,16.93
1048572,2019-04-06,5f51e21397c1248aafdf9712435bd4be063eb093f56229...,690108001,0.021729,Online,21.73
1048573,2019-03-20,3421bd479ee13287a65660cf816b01d0d803d1d6d0fe73...,583534002,0.016932,Online,16.93
1048574,2019-01-13,5813663221b265eba9e4604e482be951d9a97ae022a88a...,554811018,0.011847,Online,11.85